<!doctype html>
<head>
  <meta charset="utf-8">
  <title>Visualsearch with Datatables</title>
  <meta name="description" content="Example of how to use Visualsearch with Datatables">
  <meta name="author" content="Andrew Djoga">
  <link rel="icon" href="/images/favicon.png" type="image/png">
  <link rel="stylesheet" href="/stylesheets/jquery.dataTables.css">
  <link rel="stylesheet" href="/stylesheets/jquery.dataTables_themeroller.css">
  <link rel="stylesheet" href="/stylesheets/application.css">
</head>
<body>
  <div id="wrapper">
    <div id="content">
      <header>
        <h1>
          Example of how to use Visualsearch with Datatables
          <a href="#github">Github</a>
        </h1>
      </header>

      <table class="languages">
        <thead>
          <tr>
            <th>Language</th>
            <th>Type strength</th>
            <th>Type checking</th>
          </tr>
        </thead>
        <tbody></tbody>
      </table>

    </div>
    <footer>
      © 2012 Visualsearch with Datatables by <a href="http://andrewdjoga.com">Andrew Djoga</a>
    </footer>
  </div>

  <script src="/javascripts/jquery-1.8.3.min.js"></script>
  <script src="/javascripts/jquery.dataTables.min.js"></script>
  <script src="/javascripts/application.js"></script>
</body>
</html>
